# Ignore .ipynb_checkpoints directories
**/.ipynb_checkpoints/

# Ignore specific script and swap files
**/*.swp
**/*.sh.swo

# Ignore entire directories
misc_scripts/
scripts/hg38/
scripts/CondaScript.sh
scripts/strandedness/
whitelist/
scrna_cartography/
scrna_cartography_clone/
genome_files/
data/
data_raw/
r_library/